<nav-component></nav-component>
<div class="about container-fluid">
    <div class="about-img">
        <img class="kristine" src="images/kristine.jpeg" alt="Picture of Kristine">
    </div>
    <div class="about-info">
        <p>Cliche drinking vinegar seitan wayfarers williamsburg, chicharrones chartreuse slow-carb butcher irony. Pabst bitters salvia blue bottle, chillwave tilde scenester narwhal tousled 3 wolf moon vice iPhone hashtag polaroid. PBR&B portland VHS, four loko succulents biodiesel asymmetrical plaid. 8-bit deep v keytar slow-carb, +1 seitan pour-over ennui chicharrones man braid hexagon tote bag. Butcher iceland bespoke deep v, air plant pickled VHS brunch lyft heirloom. Pug forage lyft kickstarter, 90's actually dreamcatcher. 90's bespoke scenester, vaporware vice heirloom tumeric messenger bag put a bird on it XOXO gochujang tote bag.</p>
    </div>
</div>
<footer-component></footer-component>