/*site structure*/
body {
    background: palegreen;
}

.container-fluid {
    margin: 0 auto;
    max-width: 18000px;
    padding-left: 0;
    padding-right: 0;
}

/*logo*/

.logo{
    color: darkslategrey;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: center;
    width: 32%;
}

.logo h3 {
    font-size: 26px;
}

.logo h5 {
    font-family: 'Alex Brush', cursive;
    font-size: 22px;
}
.tulip {
    width: 10%;
}

/*navigation bar*/

.header {
    position: relative;
}

.hamburger-btn {
    visibility: hidden;
}

.hamburger {
    width: 0;
    visibility: hidden;
}

.menu {
    margin: 0 auto;
    margin-bottom: -10px;
    width: 61%;
    visibility: visible;
}


.menu ul {
	list-style: none;
    padding-left: 0;
    text-align: center;
}

.menu li {
	display: inline-block;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 2%;
}

.menu a {
	color: teal;
}

.social {
    color: darkslategray;
    right: 1%;
    position: absolute;
    top: 1%;
}

.social:hover {
    color: cornsilk;
}

.social-mobile {
    visibility: hidden;
}

/*home tab*/

.home-image img {
    height: auto;
    width: 100%;
}

.home-description {
    background-color: cornsilk;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
    padding: 2% 12% 2% 12%;
    text-align: center;
}

.home-description h3 {
    font-family: 'Belleza', sans-serif;
    margin-top: 0;
    text-align: center;
}

.reviews {
    color: darkslategray;
    padding: 2%;
    padding-right: 0;
    width: 100%;
}

.reviews h3 {
    font-family: 'Belleza', sans-serif;
    margin-top: 0;
    text-align: center;
}

/*about tab*/

.about-img {
    background-color: darkslategrey;
    text-align: center;
}

.about-info {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 2% 12% 2% 12%;
}

.kristine {
    border-radius: 50%;
    margin: 1%;
    width: 30%;
}

/*services tab*/

.services-img img {
    height: auto;
    width: 100%;
}

.services-list ul {
	list-style: none;
    padding-left: 0;
    text-align: center;
}

.services-list li {
	display: inline-block;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 18px;
    margin: 2%;
}

.services-list a {
	color: darkslategrey;
}

.servicepricing {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    font-family: 'Belleza', sans-serif;
    margin: 0 auto;
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    width: 50%;
}

.servicepricing p {
    font-size: 16px;
}

.divider {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

.servicepricing h3 {
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-weight: bold;
    text-align: center;
}

.policies {
    padding: 0 5% 0 5%;
}

.policies h5 {
    font-size: 18px;
}

/*gallery tab*/

.slideshow { 
    overflow: hidden;
    height: 500px;
    position: relative; 
    width: 100%;
    }

.gallery {
    height: 500px;
    margin-bottom: 2%;
}

.slideshow img {
  height: auto;
  left: 0;
  position: absolute;
  top: 0; 
  width: 100%;
  z-index: 3;
  -webkit-animation: slideshow 12s linear 0s infinite;
  -moz-animation: slideshow 12s linear 0s infinite;
  -ms-animation: slideshow 12s linear 0s infinite;
  -o-animation: slideshow 12s linear 0s infinite;
  animation: slideshow 12s linear 0s infinite;
}

.slideshow img:nth-child(2) {
  z-index: 2;
  -webkit-animation: slideshow 12s linear 4s infinite;
  -moz-animation: slideshow 12s linear 4s infinite;
  -ms-animation: slideshow 12s linear 4s infinite;
  -o-animation: slideshow 12s linear 4s infinite;
  animation: slideshow 12s linear 4s infinite;
}

.slideshow img:nth-child(3) {
   z-index: 1;
  -webkit-animation: slideshow 12s linear 8s infinite;
  -moz-animation: slideshow 12s linear 8s infinite;
  -ms-animation: slideshow 12s linear 8s infinite;
  -o-animation: slideshow 12s linear 8s infinite;
  animation: slideshow 12s linear 8s infinite;
}

@-webkit-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-moz-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-ms-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-o-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}


.no-cssanimations .slideshow img{
	opacity: 1;
}

/*contact tab*/

.contact {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 2%;
    width: 50%;
}

.contact-div h3 {
    font-weight: bold;
}

.map-div {
        background-color: grey;
        height: 400px;
        width: 100%;
      }

.map-div iframe {
    border: 0;
    margin-top: 1%;
    padding: 2%;
    width: 100%;
}

/*page footer*/

.footer {
    background-color: darkslategrey;
    color: cornsilk;
    font-family: 'Belleza', sans-serif;
    height: 10%;
    padding: 1%;
    text-align: center;
    width: 100%;
}

/*mobile responsiveness*/

@media screen and (max-width: 1140px) { 
    .slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .slideshow li div h3 { font-size: 80px }
}

@media screen and (max-width: 680px) {

    .header {
    height: 136px;
    margin-bottom: 2%;
    margin-top: 3%;
    position: relative;
    }

    .tulip {
        margin-top: 5%;
        width: 40%;
    }

    .facebook {
        left: 3%;
        top: 4%;
    }

    .menu {
        visibility: hidden;
    }

    .hamburger-btn {
        background-color: darkslategray;
        border-radius: 10%;
        border: none;
        color: cornsilk;
        font-size: 33px;
        margin-top: 6%;
        padding: 0% 0 0 0;
        padding-bottom: 0;
        position: absolute;
        right: 7%;
        top: -13%;
        visibility: visible;
        width: 12%;
    }

    .hamburger {
        background-color:darkslategray;
        height: 100%;
        overflow-x: hidden;
        padding-top: 14%; 
        position: fixed; 
        right: 0;
        top: 0;
        transition: 0.5s;
        width: 0;
        visibility: visible;
        z-index: 1000; 
    }

    .hamburger a {
        color:darkslategrey;
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding: 10px 10px 10px;
        text-decoration: none;
        transition: 0.3s
    }

    .hamburger li {
        background-color: cornsilk;
        border-bottom: 1px solid darkslategrey;
        font-family: 'Cinzel', serif;
    }

    .hamburger ul {
        list-style: none;
        padding-left: 0;
    }

    .hamburger a:hover {
        color: teal;
    }

    .hamburger .closebtn {
        color: cornsilk;
        font-family: 'Cinzel', serif;
        font-size: 35px;
        left: 0;
        line-height: 27px;
        position: absolute;
        top: 0;
    }

      .social {
      visibility: hidden;
  }

    .social-mobile {
        bottom: -2%;
        position: absolute;
        right: 42%;
        visibility: visible;
    }

    .social-mobile i {
        color: cornsilk;
    }

    .social-mobile i:hover {
        color:teal;
    }

    .social-mobile li {
        background-color: darkslategrey;
    }

    .logo {
        left:35%;
        margin-top: 0;
        position: absolute;
    }

    .logo h3 {
        font-size: 17px;
        margin-top: 5%;
    }

    .logo h5 {
        font-size: 16px;
        margin-top: 0;
    }

    .about-info {
        box-shadow: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10%;
        width: 100%;
    }

    .kristine {
        width: 80%;
    }

    .servicepricing {
        box-shadow: 0;
        padding: 1%;
        margin-bottom: 0;
        width: 100%;
    }

    .services-list {
        width: 100%;
    }

    .services-list ul {
        background-color: darkslategrey;
        margin-bottom: 0;
    }

    .services-list a {
        color: cornsilk;
    }

    .gallery {
        height: 200px;
    }

    .slideshow {
        height: 200px;
    }

    .contact {
        box-shadow: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .map-div {
        width: 100%;
    }
}

