/*site structure*/
body {
    background: palegreen;
}

.container-fluid {
    margin: 0 auto;
    max-width: 18000px;
    padding-left: 0;
    padding-right: 0;
}

/*logo*/

.logo{
    width: 32%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
    color: darkslategrey;
    font-family: 'Cinzel', serif;
    font-weight: 900;
}

.logo h3 {
    font-size: 26px;
}

.logo h5 {
    font-family: 'Alex Brush', cursive;
    font-size: 22px;
}
.tulip {
    width: 10%;
}

/*navigation bar*/

.navbar {
    margin: 0 auto;
    margin-bottom: -10px;
    width: 61%;
}

.navbar ul {
	list-style: none;
    padding-left: 0;
    text-align: center;
}

.navbar li {
	display: inline-block;
    margin: 2%;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.navbar a {
	color: teal;
}

/*home tab*/

.home-image img {
    width: 100%;
    height: auto;
}

.home-description {
   background-color: cornsilk;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
    padding: 2% 12% 2% 12%;
}

.home-description h3 {
    font-family: 'Belleza', sans-serif;
    margin-top: 0;
    text-align: center;
}

.reviews {
   background-color: teal;
    color: cornsilk;
    padding: 2%;
    padding-right: 0;
    width: 100%;
}

.reviews h3 {
    text-align: center;
    margin-top: 0;
    font-family: 'Belleza', sans-serif;
}

/*about tab*/

.about-img {
    text-align: center;
    background-color: darkslategrey;
}

.about-info {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2%;
    width: 50%;
}

.kristine {
    border-radius: 50%;
    width: 30%;
    margin: 1%
}

/*services tab*/

.services-img img {
    width: 100%;
    height: auto;
}

.services-list ul {
	list-style: none;
    padding-left: 0;
    text-align: center;
}

.services-list li {
	display: inline-block;
    margin: 2%;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.services-list a {
	color: darkslategrey;
}

.servicepricing {
    width: 50%;
    margin: 0 auto;
    background-color: cornsilk;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px darkslategrey;
    font-family: 'Belleza', sans-serif;
    text-align: center;
}

.servicepricing p {
    font-size: 16px;
}

.divider {
   text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.servicepricing h3 {
    text-align: center;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-weight: bold;
}

/*gallery tab*/

.gallery {
    width: 100%;
    height: 500px;
    position: fixed;
}

.slideshow,
.slideshow:after { 
    /*position: fixed;*/
    width: 100%;
    height: 60%;
    /*z-index: 0; */
    list-style: none;
}
slideshow:after { 
    content: '';
    background: transparent url(images/tropical1,jpg) repeat top left; 
}

.slideshow li span { 
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    /*z-index: 0;*/
    animation: imageAnimation 36s linear infinite 0s; 
}

.slideshow li div { 
    /*z-index: 1000;*/
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 36s linear infinite 0s; 
}
.slideshow li div h3 { 
    font-family: 'Belleza', sans-serif;
    font-size: 240px;
    padding: 0;
    /*line-height: 200px; */
}

.slideshow li:nth-child(1) span { 
    background-image: url(images/tropical1.jpg) 
}
.slideshow li:nth-child(2) span { 
    background-image: url(images/tropical2.jpg);
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) span { 
    background-image: url(images/tropical3.jpg);
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) span { 
    background-image: url(images/tropical4.jpg);
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) span { 
    background-image: url(images/tropical5.jpg);
    animation-delay: 24s; 
}
.slideshow li:nth-child(6) span { 
    background-image: url(images/tropical6.jpg);
    animation-delay: 30s; 
}

.slideshow li:nth-child(2) div { 
    animation-delay: 6s; 
}
.slideshow li:nth-child(3) div { 
    animation-delay: 12s; 
}
.slideshow li:nth-child(4) div { 
    animation-delay: 18s; 
}
.slideshow li:nth-child(5) div { 
    animation-delay: 24s; 
}
.slideshow li:nth-child(6) div { 
    animation-delay: 30s; 
}

@keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .slideshow li span{
	opacity: 1;
}

/*contact tab*/

.contact {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 2%;
    width: 50%;
}

.contact-div h3 {
    font-weight: bold;
}

.map-div {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

.map {
    display: block;
    height: 98%;
    padding: 2%;
}

/*page footer*/

.footer {
    background-color: darkslategrey;
    color: cornsilk;
    font-family: 'Belleza', sans-serif;
    height: 10%;
    padding: 1%;
    text-align: center;
    width: 100%;
}

/*mobile responsiveness*/

@media screen and (max-width: 1140px) { 
    .slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .slideshow li div h3 { font-size: 80px }
}

@media screen and (max-width: 680px) {
    .tulip {
        width: 40%;
        margin-top: 5%;
    }

    .about-info {
        padding-left: 15%;
        padding-right: 15%;
    }

    .kristine {
        width: 80%;
    }

    .gallery {
    width: 100%;
    height: 60%;
    position: absolute;
    }

    .slideshow li span {
        height: 60%;
    }

    .slideshow li div h3 { 
    font-size: 230%;
    padding: 0;
    position: absolute;
    }

    .contact {
        width: 100%;
    }
}

@media screen and (max-device-width: 680px) and (orientation: landscape) {
    .gallery {
        height: 70%;
    }
}

@media screen and (max-width:680px) {
  ul.navbar li:not(:first-child) {display: none;}
  ul.navbar li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.navbar.responsive {position: relative;}
  ul.navbar.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbar.responsive li {
    float: none;
    display: inline;
  }
  ul.navbar.responsive li a {
    display: block;
    text-align: left;
  }
}