/*site structure*/
body {
    background: palegreen;
}

.container-fluid {
    margin: 0 auto;
    max-width: 18000px;
    padding-left: 0;
    padding-right: 0;
}

/*logo*/

.logo{
    width: 32%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
    color: darkslategrey;
    font-family: 'Cinzel', serif;
    font-weight: 900;
}

.logo h3 {
    font-size: 26px;
}

.logo h5 {
    font-family: 'Alex Brush', cursive;
    font-size: 22px;
}
.tulip {
    width: 10%;
}

/*navigation bar*/

.navbarr {
    margin: 0 auto;
    margin-bottom: -10px;
    width: 61%;
}

.navbarr ul {
	list-style: none;
    padding-left: 0;
    text-align: center;
}

.navbarr li {
	display: inline-block;
    margin: 2%;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.navbarr a {
	color: teal;
}

.show-menu {
	text-decoration: none;
	color: cornsilk;
	text-align: center;
	padding: 10px 0;
	display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #menu{
    display: block;
}

/*home tab*/

.home-image img {
    width: 100%;
    height: auto;
}

.home-description {
   background-color: cornsilk;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
    padding: 2% 12% 2% 12%;
}

.home-description h3 {
    font-family: 'Belleza', sans-serif;
    margin-top: 0;
    text-align: center;
}

.reviews {
    color: darkslategray;
    padding: 2%;
    padding-right: 0;
    width: 100%;
}

.reviews h3 {
    text-align: center;
    margin-top: 0;
    font-family: 'Belleza', sans-serif;
}

/*about tab*/

.about-img {
    text-align: center;
    background-color: darkslategrey;
}

.about-info {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 2% 12% 2% 12%;
}

.kristine {
    border-radius: 50%;
    width: 30%;
    margin: 1%
}

/*services tab*/

.services-img img {
    width: 100%;
    height: auto;
}

.services-list ul {
	list-style: none;
    padding-left: 0;
    text-align: center;
}

.services-list li {
	display: inline-block;
    margin: 2%;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-size: 18px;
}

.services-list a {
	color: darkslategrey;
}

.servicepricing {
    width: 50%;
    margin: 0 auto;
    background-color: cornsilk;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px darkslategrey;
    font-family: 'Belleza', sans-serif;
    text-align: center;
}

.servicepricing p {
    font-size: 16px;
}

.divider {
   text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.servicepricing h3 {
    text-align: center;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    font-weight: bold;
}

.policies {
    padding: 0 5% 0 5%;
}

.policies h5 {
    font-size: 18px;
}

/*gallery tab*/

.slideshow { 
    position: relative; 
    width: 100%;
    height: 500px;
    overflow: hidden;
    }

.gallery {
    height: 500px;
    margin-bottom: 2%;
}

.slideshow img {
  height: auto;
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  z-index: 3;
  -webkit-animation: slideshow 12s linear 0s infinite;
  -moz-animation: slideshow 12s linear 0s infinite;
  -ms-animation: slideshow 12s linear 0s infinite;
  -o-animation: slideshow 12s linear 0s infinite;
  animation: slideshow 12s linear 0s infinite;
}

.slideshow img:nth-child(2) {
  z-index: 2;
  -webkit-animation: slideshow 12s linear 4s infinite;
  -moz-animation: slideshow 12s linear 4s infinite;
  -ms-animation: slideshow 12s linear 4s infinite;
  -o-animation: slideshow 12s linear 4s infinite;
  animation: slideshow 12s linear 4s infinite;
}

.slideshow img:nth-child(3) {
   z-index: 1;
  -webkit-animation: slideshow 12s linear 8s infinite;
  -moz-animation: slideshow 12s linear 8s infinite;
  -ms-animation: slideshow 12s linear 8s infinite;
  -o-animation: slideshow 12s linear 8s infinite;
  animation: slideshow 12s linear 8s infinite;
}

@-webkit-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-moz-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-ms-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@-o-keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}
@keyframes slideshow {
   25% { opacity: 1;}
   33.33% { opacity: 0;} 
   91.66% { opacity: 0;}
   100% { opacity: 1;}
}


.no-cssanimations .slideshow img{
	opacity: 1;
}

/*contact tab*/

.contact {
    background-color: cornsilk;
    box-shadow: 5px 5px 5px darkslategrey;
    color: darkslategrey;
    font-family: 'Belleza', sans-serif;
    margin: 0 auto;
    margin-bottom: 2%;
    padding: 2%;
    width: 50%;
}

.contact-div h3 {
    font-weight: bold;
}

.map-div {
        width: 100%;
        height: 400px;
        background-color: grey;
      }

.map-div iframe {
    border: 0;
    width: 100%;
    padding: 2%;
    margin-top: 1%;
}

/*page footer*/

.footer {
    background-color: darkslategrey;
    color: cornsilk;
    font-family: 'Belleza', sans-serif;
    height: 10%;
    padding: 1%;
    text-align: center;
    width: 100%;
}

/*mobile responsiveness*/

@media screen and (max-width: 1140px) { 
    .slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .slideshow li div h3 { font-size: 80px }
}

@media screen and (max-width: 680px) {

    .header {
    position: relative;
    height: 136px;
    }

    .tulip {
        width: 40%;
        margin-top: 5%;
    }

    .logo {
        position: absolute;
        left:38%;
    }

    .logo h3 {
        font-size: 17px;
        margin-top: 5%;
    }

    .logo h5 {
        font-size: 16px;
        margin-top: 0;
    }

    .navbarr {
        width: 0;
        min-height: 0;
    }

    .navbarr ul {
        position: static;
		display: none;
    }

    .navbarr li {
		margin-bottom: 1px;
	}

    .navbarr ul li, .show-menu li a {
		width: 100%;
	}

    .show-menu {
        background-color: darkslategray;
        color: cornsilk;
        display: block;
        font-size: 43px;
        position: absolute;
        right: 3%;
        top: -12%;
        width: 12%;
        padding: 0% 0 0 0;
        padding-bottom: 0;
        border-radius: 10%;
        margin-top: 6%;
	}

    .home-image img {
        margin-top: 3%;
    }

    .about-info {
    box-shadow: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10%;
    width: 100%;
    }

    .kristine {
        width: 80%;
    }

    .servicepricing {
        box-shadow: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .services-list {
        width: 96%;
    }

    .services-list ul {
        background-color: darkslategrey;
        margin-bottom: 0;
    }

    .services-list a {
        color: cornsilk;
    }

    .gallery {
        height: 200px;
    }

    .slideshow {
        height: 200px;
    }

    .contact {
        width: 100%;
        box-shadow: 0;
        margin-bottom: 0;
    }

    .map-div {
        width: 100%;
    }
}

@media screen and (max-width:680px) {
  ul.navbarr li:not(:first-child) {display: none;}
  ul.navbarr li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.navbarr.responsive {position: relative;}
  ul.navbarr.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbarr.responsive li {
    float: none;
    display: inline;
  }
  ul.navbarr.responsive li a {
    display: block;
    text-align: left;
  }
}