<nav-component></nav-component>
<div class="home container-fluid">
    <div class="home-image">
        <img src="images/home.jpg" alt="Image of beautiful eyes">
    </div>
    <div class="home-info column">
        <div class="home-description col-md-6 col-sm-12">
            <p>Cliche drinking vinegar seitan wayfarers williamsburg, chicharrones chartreuse slow-carb butcher irony. Pabst bitters salvia blue bottle, chillwave tilde scenester narwhal tousled 3 wolf moon vice iPhone hashtag polaroid. PBR&B portland VHS, four loko succulents biodiesel asymmetrical plaid. 8-bit deep v keytar slow-carb, +1 seitan pour-over ennui chicharrones man braid hexagon tote bag. Butcher iceland bespoke deep v, air plant pickled VHS brunch lyft heirloom. Pug forage lyft kickstarter, 90's actually dreamcatcher. 90's bespoke scenester, vaporware vice heirloom tumeric messenger bag put a bird on it XOXO gochujang tote bag.</p>
            <p>Gochujang plaid williamsburg stumptown. Quinoa pug vice, humblebrag XOXO offal semiotics aesthetic locavore. Pork belly sriracha etsy flannel, chicharrones la croix cred fap vegan health goth prism. Mumblecore fanny pack af fap, tbh tumeric subway tile yr wayfarers umami coloring book. Glossier banjo meditation, pork belly poke shoreditch meh you probably haven't heard of them iceland la croix health goth roof party. Mixtape YOLO waistcoat, seitan asymmetrical kinfolk pop-up crucifix af normcore humblebrag fap activated charcoal. Church-key vape viral ethical sustainable tofu.</p>
        </div>
        <div class="reviews col-md-6 col-sm-12" >
            <h3>Customer Reviews</h3>
            <div class="review-tile">
            </div>
        </div>
    </div>
</div>
<footer-component></footer-component>