<nav-component></nav-component>
<div class="gallery container-fluid">
    <ul class="slideshow">
	<li>
		<span>Image 01</span>
		<div>
			<!--<h3>Organic Facials</h3>-->
		</div>
	</li>
	<li>
		<span>Image 02</span>
		<div>
			<!--<h3>Enzyme Facials</h3>-->
		</div>
	</li>
    <li>
		<span>Image 03</span>
		<div>
			<!--<h3>Chemical Peels</h3>-->
		</div>
	</li>
    <li>
		<span>Image 04</span>
		<div>
			<!--<h3>Lash Extensions</h3>-->
		</div>
	</li>
    <li>
		<span>Image 05</span>
		<div>
			<!--<h3>Lash Fills</h3>-->
		</div>
	</li>
    <li>
		<span>Image 06</span>
		<div>
			<!--<h3>Waxing</h3>-->
		</div>
	</li>
</ul>
</div>
<footer-component></footer-component>