<div class="header">
    <div class="logo">
        <img class="tulip" src="images/tulip.png" alt="Tulip"><h3>Beautiful Skin and Lashes</h3>
        <h5>By Kristine</h5>
    </div>
    <div class="navbarr" id="navbarr">
        <a class="facebook" href="https://www.facebook.com/skincareandlashesbykristine/?fref=ts"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <label for="show-menu" class="show-menu">&#9776;</label>
        <input type="checkbox" id="show-menu" role="button">
        <ul>
            <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li ui-sref-active="active"><a ui-sref="services">Services and Pricing</a></li>
            <li ui-sref-active="active"><a ui-sref="booking">Online Booking</a></li>
            <li ui-sref-active="active"><a ui-sref="gallery">Photo Gallery</a></li>
            <li ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
        </ul>
    </div>
</div>