<nav-component></nav-component>
<div class="services container-fluid">
    <div class="services-img">
        <img src="images/relax.jpg" alt="Image of woman relaxing">
    </div>
    <div class="services-list">
        <ul>
            <li><a href="#skincare">Skin Care</a></li>
            <li><a href="#lash">Lash</a></li>
            <li><a href="#waxing">Waxing</a></li>
            <li><a href="#specials">Specials</a></li>
        </ul>
    </div>
    <div class="servicepricing">
        <div class="skincare" id="skincare">
            <h3>Skin Care</h3>
            <img class="divider" src="images/divider.png" alt="">
            <h4>Facials</h4>
            <p>
                Signature or Organic Facial         $65 <br>
                Acne or Problem Skin Facial         $75 <br>
                Oxygenating Trio Facial             $85 <br>
                Organic or Botanical Enzyme Facial  $65 
            </p>
            <h4>Microdermabrasion $85</h4>
            <h4>Chemical Peels (incl. post-treatment kit) $85</h4>
            <h4>Back Treatment $75</h4>
            <br>
            <p>*Peels are customized to your specific skin care needs and goals.s</p>
        </div>
        <div class="lash" id="lash">
            <h3>Lash</h3>
            <img class="divider" style="margin-bottom: 1%" src="images/divider.png" alt="">
            <p>
                Full Set Eyelash Extensions $75 <br>
                One Week Fill $25 <br>
                Two Week Fill $35 <br>
                Three Week Fill $40 <br>
                Four Week Fill $45 <br>
                New Client Lash Fills $50 <br>
                Lash Extension Removal $25 <br>
                Brow or Lash Tinting $25 
            </p>
        </div>
        <div class="waxing" id="waxing">
            <h3>Waxing</h3>
            <img class="divider" style="margin-bottom: 1%" src="images/divider.png" alt="">
            <p>
                Brows, Lip or Chin $12 <br>
                Eyebrow & Lip $20 <br>
                Chin/Neck $10 <br>
                Full Face $30 <br>
                Nose $15 <br>
                1/2 Arm $15 <br>
                Full Arm $30 <br>
                1/2 Leg $30 <br>
                Full Leg $45 <br>
                Under Arm $20 
            </p>
        </div>
        <div class="specials" id="specials">
            <h3>Specials</h3>
            <img class="divider" style="margin-bottom: 1%" src="images/divider.png" alt="">
            <p>Please check <a href="https://www.facebook.com/skincareandlashesbykristine/?fref=ts">Facebook</a>for current specials!</p>
        </div>
    </div>
    <div class="policies">
        <h3>Policies</h3>
        <h5>Cancellations</h5>
        <p>24 hour advanced notice is required when canceling or rescheduling an appointment. If you are unable to give 24 hour advanced notice, you will be charged the full amount of your appointment. This must be paid prior to your next scheduled appointment.</p>
        <h5>No Shows</h5>
        <p>Anyone who either forgets or consciously chooses to forgo their appointment will be considered a "no show". They will be charged for their missed appointment and future services will be denied until payment is made in full.</p>
        <h5>Arriving Late</h5>
        <p>Appointment times have been arranged specifically for you. If you arrive late, your session may be canceled in order to accommodate others whose appointments follow yours. You will then be considered a "no show" and fees will apply. Out of respect for others, please plan accordingly and arrive to your appointment on time.</p>
        <p>Thank you for your understanding.</p>
    </div>
</div>
<footer-component></footer-component>

