<nav-component></nav-component>
<div class="services container-fluid">
    <div class="services-img">
        <img src="images/relax.jpg" alt="Image of woman relaxing">
    </div>
    <div class="services-list">
        <ul>
            <li><a href="#skincare">Skin Care</a></li>
            <li><a href="#lash">Lash</a></li>
            <li><a href="#waxing">Waxing</a></li>
        </ul>
    </div>
    <div class="servicepricing">
        <div class="skincare" id="skincare">
            <h3>Skin Care</h3>
            <img class="divider" src="images/divider.png" alt="">
            <h4>Facials</h4>
            <p>
                Signature or Organic Facial         $65 <br>
                Acne or Problem Skin Facial         $75 <br>
                Oxygenating Trio Facial             $85 <br>
                Organic or Botanical Enzyme Facial  $65 
            </p>
            <h4>Microdermabrasion $85</h4>
            <h4>Chemical Peels (incl. post-treatment kit) $85</h4>
            <h4>Back Treatment $75</h4>
            <br>
            <p>*Peels are customized to your specific skin care needs and goals.s</p>
        </div>
        <div class="lash" id="lash">
            <h3>Lash</h3>
            <img class="divider" style="margin-bottom: 1%" src="images/divider.png" alt="">
            <p>
                Full Set Eyelash Extensions $75 <br>
                One Week Fill $25 <br>
                Two Week Fill $35 <br>
                Three Week Fill $40 <br>
                Four Week Fill $45 <br>
                New Client Lash Fills $50 <br>
                Lash Extension Removal $25 <br>
                Brow or Lash Tinting $25 
            </p>
        </div>
        <div class="waxing" id="waxing">
            <h3>Waxing</h3>
            <img class="divider" style="margin-bottom: 1%" src="images/divider.png" alt="">
            <p>
                Brows, Lip or Chin $12 <br>
                Eyebrow & Lip $20 <br>
                Chin/Neck $10 <br>
                Full Face $30 <br>
                Nose $15 <br>
                1/2 Arm $15 <br>
                Full Arm $30 <br>
                1/2 Leg $30 <br>
                Full Leg $45 <br>
                Under Arm $20 
            </p>
        </div>
    </div>
</div>

