<nav-component></nav-component>
<div class="contact container-fluid">
    <!--<div class="map-div col-md-12 col-sm-12"><ng-map class="map" center="[43.5896444,-116.2564094]"><marker position="[43.5896444, -116.2564094]" title="hello"></marker></ng-map></div>-->
    <div class="map-div col-md-12 col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.8114100478087!2d-116.25859808500154!3d43.5896443791235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54ae57cae15258ab%3A0x6c55c9a7e05a954e!2s6003+W+Overland+Rd+l101%2C+Boise%2C+ID+83709!5e0!3m2!1sen!2sus!4v1474949558566" width="500" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="contact-div">
        <div class="contact-info col-md-12 col-sm-12">
            <h3>Contact</h3>
            <p>208-914-0338</p>
            <h3>Location</h3>
            <p>6003 W Overland Rd <br>
                Suite L101 <br>
                Boise, ID 83709
            </p>
        </div>
        <div class="hours col-md-12 col-sm-12">
            <h3>Hours Of Operation</h3>
            <p>Monday - Friday <br>
                8am - 6pm
            </p>
        </div>
    </div>
</div>
<footer-component></footer-component>